<%= form_tag '/employees/parseCSV', :multipart => true  %>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= file_field :file, :csv %>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Import', :class => 'btn btn-success' %>
     </td>
   </tr>
 </table>
 </form>

 <h2>CSV Format</h2>
 <dl>
  <dt>Name or Full Name</dt>
  <dd>The entire name of the employee, either in <em>last,first</em> or <em>first last</em> format</dd>
  <dt>First Name or First</dt>
  <dd>The first name of the employee</dd>
  <dt>Last Name or Last</dt>
  <dd>The last name of the employee</dd>
  <dt>Role or Position</dt>
  <dd>The position of the employee. Should be either employee, manager, or admin</dd>
  <dt>SSN or Social Security Number</dt>
  <dd>The social security number of the employee</dd>
  <dt>Date of Birth or Birthday</dt>
  <dd>The date the employee was born on. Can be in any date format</dd>
  <dt>Phone Number or Phone</dt>
  <dd>The phone number of the employee</dd>
  <dt>Email</dt>
  <dd>The email of the employee to give them a user account. A temporary password will be sent to this email address</dd>
 </dl>
