<%= form_tag '/employees/parseCSV', :multipart => true  %>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= file_field :file, :csv %>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Import', :class => 'btn btn-success' %>
     </td>
   </tr>
 </table>
 </form>
