<h2><em>The Arbeit Project</em></h2>

<p>
  A&M Creamery is the creation of Alex and Mark Heimann with the intention of starting
  a successful Pittsburgh business. Starting with just one store, the CMU branch, they have expanded their
  business and currently have 5 stores in the Pittsburg area. They are looking for additional opportunities
  in Pennsylvania, West Virginia, and Ohio. If you would like to contact them about purchasing your own
  franchise, please use the link at the bottom of the page to send them an email
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
