<h2>Contact Arbeit</h2>
<p class="supertiny">&nbsp;</p>
<table cellpadding="3">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Nathan Hahn</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("nphahn@gmail.com", "nphahn@gmail.com", :encode => "javascript") %> 
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>703-587-3175</td>
	</tr>
</table>

<p class="note"><br>I am an Information Systems student at Carnegie Mellon and this is a project for my
<br>Application Design and Development class. It is a simulated creamery with all the bells and
<br>whistles you would expect from a real application. Feel free to explore or email me if you
<br>have any questions about the application.</p>
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
