<h2>A&M Creamery Privacy Policy</h2>

<p>The A&M Creamery privacy policy is simple and business oriented. We 
will do any and everything that promotes the interest of our business. If
you provide us with any information we can use to further our business ventures,
we will use it to the best of our ability. If you are an employee, you have already agreed
to the terms of the business, so this shouldn't be an issue.
	
  <br><br>
	Just be aware :)
</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
